<div class="container col-lg-4 offset-lg-1">
	<h2 class="my-4">Un acteur, une vie</h2>
	<div class="card card-cat mb-3 mx-0 moment">
		<div class="row height-card">
			<div class="col-lg-6 d-flex justify-content-center align-items-center card-content">
				<img class="card-img-top image" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Liam_Neeson_Deauville_2012.jpg" alt="Card image cap">
			</div>
			<div class="col-lg-6 text-column">
				<div class="card-body">
					<h3 class="card-title text-center">Liam Neeson</h3>
					<div class="card-text description d-flex flex-column justify-content-start align-items-center">
						<p>Liam Neeson, de son vrai nom William John Neeson, est un acteur irlando-britannico-américain né le 7 juin 1952 à Ballymena, dans le Comté d'Antrim, en Irlande du Nord.
																																		
																																		Il est connu pour ses rôles d'hommes courageux dans des films comme La Liste de Schindler, ainsi que pour sa participation à des productions telles que Star Wars dans laquelle il interprète le rôle de Qui-Gon Jinn et la trilogie The Dark Knight (2005-2012) dans laquelle il interprète Ra's al Ghul.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
