<footer class="text-center mention">

	<div class="container pt-4">
		<section class="mb-4">
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
				<i class="fab fa-facebook-f"></i>
			</a>

			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
				<i class="fab fa-twitter"></i>
			</a>
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
				<i class="fab fa-instagram" style="font-size: 2rem; color: cornflowerblue;"></i>
			</a>


		</section>

	</div>
	<div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
		<a href="https://mdbootstrap.com/">Mentions légales</a>
	</div>
</footer>
